{% if customer.name %}
<p>Dear {{ customer.name }},</p>
<p></p>
{% endif %}
<p>An account has been created for you at the shop {{ shop.name }}.</p>
<p></p>
<p>Please visit this url to activate your account and set your password. </p>
<p></p>
<p>{{ customer.account_activation_url }}</p>
<p></p>
<p>If the account was created in error, you can visit the link above and select "Decline" to decline this invitation.</p>

