/* Your custom styles go here */

$border-color: #bbb;

h1 {
  font-size: 59px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 23px;
}
h4 {
  font-size: 15px;
  font-weight: bold;
}
h5, h6 {
  font-size: 14px;
  font-weight: bold;
}

.products-table {
  width: 100%;
  margin-bottom: 1em;

  thead {
    tr {
      border-top: 1px solid $border-color;
      th {
        text-align: center;

        &.product-description {
          text-align: left;
        }
      }
    }
  }

  tbody {
    tr {
      border-top: 1px solid $border-color;

      &:last-child {
        border-bottom: 1px solid $border-color;
      }

      td {
        padding-top: 10px;
        vertical-align: middle;

        &.product-image {
          padding-right: 5px;
          width: 100px;
        }

        &.product-description {
          text-align: left;
        }

        &.qty,
        &.price {
          text-align: center;
        }
      }
    }
  }
}

.products-table.fulfillment {
  thead {
    tr {
      th {
        text-align: left;
      }
    }
  }
}

.contacts-for-questions {
  margin-top: 1em;
}
