{% if customer.name %}
<p class="lead">Dear {{ customer.name }},</p>
{% endif %}
<p class="lead">This is to confirm that your account for the shop {{ shop.name }} is now active.</p>
<p>The next time you shop at {{ shop.name }}, you can save time at checkout by logging into your account. This will prefill your address information at the checkout. </p>
<p>Thank you,</p>
<p>{{ shop.name }}</p>

