{% if customer.name %}
<p>Dear {{ customer.name }},</p>
<p></p>
{% endif %}
<p>You have requested to have your password reset for your account at {{ shop.name }}</p>
<p></p>
<p>Please visit this url to reset your password. </p>
<p></p>
<p>{{ customer.reset_password_url }}</p>
<p></p>
<p>If you received this email in error, you can safely ignore this email.</p>

