{% if billing_address.name %}
<p>Dear {{ billing_address.name }}, </p>
<p></p>
{% endif %}

<p>Your order {{ name }} was cancelled {% case cancel_reason %}{% when 'customer' %}at your request.{% when 'inventory' %}because we did not have enough stock to fulfill your order.{% when 'fraud' %}because we suspect it is fraudulent.{% when 'other' %}due to unforseen circumstances.{% endcase %}</p>

<p></p>
<p>{% if financial_status == 'voided' %}Your payment has been voided.{% elsif financial_status == 'credited' %}Your payment has been refunded.{% endif %}</p>

<p>Please reply to this email if you have any questions or concerns.</p>

<p>Sincerely,</p>
<p> {{shop_name}}</p>

